<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Employee Management</span>
    <div class="spacer"></div>
    <nav>
      <ul *ngIf="this.userService?.user?.username; else notLogin">
        <li>Hello {{this.userService.user.username}}!</li>
        <li><a routerLink="/employee" routerLinkActive="active" ariaCurrentWhenActive="page">Employee List</a></li>
        <li><a routerLink="/employee/add" routerLinkActive="active" ariaCurrentWhenActive="page">Add Employee</a></li>
        <li><a (click)="logout()" class="nav-link">Logout</a></li>
      </ul>
      <ng-template #notLogin>
        <ul >
          <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></li>
        </ul>
      </ng-template>
    </nav>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>



  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container footer-bottom">
      <div class="copyright">
        &copy; Mary Franklin
      </div>
    </div>
  </footer><!-- End Footer -->
